<section id="annotation" class="wrapper wrapper--annotation">
    <img class="bef annotation__bef-1" src="img/annotation/bef-1.png" alt="img">
    <div class="ycont">
        <div class="annotation">
            <div class="annotation__item">
                <h2 class="annotation__title">
                    Анотация
                </h2>
                <p class="annotation__descript bigger">
                    Книга будет полезна и интересна руководителям процессов цифровой трасформации, руководству и топ-менеджерам компаний, для кого тема цифровой трансформации является важной и актуальной, а также выпускникам высших учебных заведений, видящим для себя карьеру в области цифровизации и цифровой трансформации.
                </p>
            </div>
            <div class="annotation__item">
                <b class="annotation__item-bef">30+</b>
                <p class="annotation__item-text large">
                    Авторский коллектив Учебника насчитывает <b class="accent">свыше тридцати известных</b> в сообществе людей, суммарно имеющих за плечами сотни успешных проектов
                </p>
            </div>
        </div>

        <div class="book">
            <div class="book__img">
                <img class="bef book__bef-1" src="img/annotation/bef-2.png" alt="img">
                <img src="img/annotation/book.png" alt="img">
            </div>
            <p class="book__text large">
                Над главами Учебника работали известные в отрасли профессионалы, чей опыт позволил составить исчерпывающее описание каждого аспекта и этапа цифровой трансформации, а также выявить "узкие места", которые могут встретиться каждому CDTO в процессе становления, а также его сотрудникам, занятым в ЦТ и смежных областях деятельности. 
            </p>
        </div>

    </div>
</section>