<section id="collegium" class="wrapper wrapper--collegium">
    <div class="ycont">
        <div class="collegium">
            <h2 class="collegium__title">
                Редационная коллегия
            </h2>
            <!-- <div class="collegium__buttons">
                <button class="collegium__prev collegium__arrow">
                    <img src="img/collegium/prev.svg" alt="icon">
                </button>
                <button class="collegium__next collegium__arrow">
                    <img src="img/collegium/next.svg" alt="icon">
                </button>
            </div> -->
            <div class="collegium__slider">

                <div class="collegium__slider-item">
                    <div class="collegium__slider-img">
                        <img src="img/collegium/1.jpg" alt="img">
                    </div> 
                    <p class="collegium__slider-name">
                        Геннадий  
                        <b>Гребник</b>
                    </p> 
                    <span>Business Development Director</span>
                </div>

                <div class="collegium__slider-item">
                    <div class="collegium__slider-img">
                        <img src="img/collegium/2.jpg" alt="img">
                    </div> 
                    <p class="collegium__slider-name">
                        Алексей  
                        <b>Зобнин</b>
                    </p> 
                    <span>CEO в Minervasoft</span>
                </div>

                <div class="collegium__slider-item">
                    <div class="collegium__slider-img">
                        <img src="img/collegium/3.jpg" alt="img">
                    </div> 
                    <p class="collegium__slider-name">
                        Марина  
                        <b>Иванченко</b>
                    </p> 
                    <span>Директор по маркетингу и продуктам в «Манго телеком»</span>
                </div>

                <div class="collegium__slider-item">
                    <div class="collegium__slider-img">
                        <img src="img/collegium/4.jpg" alt="img">
                    </div> 
                    <p class="collegium__slider-name">
                        Алексей  
                        <b>Кравченко</b>
                    </p> 
                    <span>Директор Управляющего офиса Клуба 4СИО</span>
                </div>

                <div class="collegium__slider-item">
                    <div class="collegium__slider-img">
                        <img src="img/collegium/5.jpg" alt="img">
                    </div> 
                    <p class="collegium__slider-name">
                        Рудь  
                        <b>Виктор</b>
                    </p> 
                    <span>ТТК+, руководитель отдела биллинга</span>
                </div>

                <div class="collegium__slider-item">
                    <div class="collegium__slider-img">
                        <img src="img/collegium/6.jpg" alt="img">
                    </div> 
                    <p class="collegium__slider-name">
                        Олег  
                        <b>Скрынник</b>
                    </p> 
                    <span>Управляющий партнёр, Cleverics</span>
                </div>

                <div class="collegium__slider-item">
                    <div class="collegium__slider-img">
                        <img src="img/collegium/7.jpg" alt="img">
                    </div> 
                    <p class="collegium__slider-name">
                        Борис  
                        <b>Славин</b>
                    </p> 
                    <span>Научный руководитель факультета ИТ и анализа больших данных</span>
                </div>

            </div>
        </div>
    </div>
</section>