<section class="wrapper wrapper--first">
    <div class="ycont">
        <div class="first">
            <div class="first__img">
                <img src="img/first/1.png" alt="img">
            </div>
            <div class="first__content">
                <p class="first__suptitle">
                    Впервые в России
                </p>
                <h1 class="first__title">Учебник 4CDTO </h1>
                <p class="first__descript">
                    Первое в своём роде учебное пособие для будущих руководителей цифровой трансформации в компаниях среднего и крупного бизнеса
                </p>
                <div class="first__down">
                    <button data-modal-click="modal-form" class="first__button open-form">
                        Приобрести книгу
                    </button>
                    <a class="first__download" href="#">Скачать фрагмент</a>
                </div>
            </div>
        </div>
    </div>
</section>