<footer class="wrapper wrapper--footer">
    <div class="ycont">
        <div class="footer">
            <div class="footer__item">
                <div class="header__logo">
                    <img src="img/logo.svg" alt="logo"> 
                </div>
                <p class="footer__descript">
                    Настольная книга руководителя по цифровой трансформации
                </p>
                <p class="footer__date">
                    © 2003-2022, 4CIO
                </p>
            </div>

            <div class="footer__center">

                <div class="footer__item">
                    <div class="header__item">
                        <div class="header__item-icon">
                            <img src="img/header/time.svg" alt="icon">
                        </div>
                        <div class="header__item-content">
                            <b>9:00 - 18:00</b>
                            <p>c Пн по Пт</p>
                        </div>
                    </div>
    
                    <div class="header__item">
                        <div class="header__item-icon">
                            <img src="img/header/call.svg" alt="icon">
                        </div>
                        <div class="header__item-content">
                            <a class="header__item-phone" href="tel:+79265328696">+7 (926) 532 8696
                            </a><a class="open-modal" style="cursor: pointer;" data-modal-click="modal-form">Обратный звонок</a>
                        </div>
                    </div>
                </div>

                <div class="social">
                    <a class="social__icon" href="https://instagram.com/club4cio?utm_medium=copy_link"><img src="img/inst.svg" alt="img"></a>
                    <a class="social__icon"href="https://t.me/Club4CIO"><img src="img/tg.svg" alt="img"></a>
                    <a class="social__icon" href="#"><img src="img/vk.svg" alt="img"></a>
                </div> 

            </div>

            <div class="footer__item">
                <a class="footer__item-link" href="http://4cio.ru">Сайт клуба</a>
                <a data-modal-click="modal-form" style="cursor: pointer;" class="footer__item-link open-modal">Приобрести книгу</a>
                <a class="footer__item-link" href="#">Скачать фрагмент</a>
                <p class="footer__developer">
                    Сделано в <a target="_blank" href="https://bamboo.uz/">Bamboo</a> 
                </p>
            </div>

        </div>
    </div>
</footer>