<header class="wrapper wrapper--header">
    <div class="ycont">
        <div class="header__top">
            <div class="header__logo">
                <img src="img/logo.svg" alt="logo">
                <p class="header__descript">
                    Клуб топ-менеджеров     
                </p>
            </div>
            <div class="header__item">
                <div class="header__item-icon">
                    <img src="img/header/time.svg" alt="icon">
                </div>
                <div class="header__item-content">
                    <b>9:00 - 18:00</b>
                    <p>c Пн по Пт</p>
                </div>
            </div>
            <div class="header__item">
                <div class="header__item-icon">
                    <img src="img/header/call.svg" alt="icon">
                </div>
                <div class="header__item-content">
                    <a class="header__item-phone" href="tel:+79265328696">+7 (926) 532 8696</b>
                    <a class="open-modal" style="cursor: pointer;" data-modal-click="modal-form">Обратный звонок</a>
                </div>
            </div>
            <div class="social">
                <a class="social__icon" href="https://instagram.com/club4cio?utm_medium=copy_link"><img src="img/inst.svg" alt="img"></a>
                <a class="social__icon" href="https://t.me/Club4CIO"><img src="img/tg.svg" alt="img"></a>
                <a class="social__icon" href="#"><img src="img/vk.svg" alt="img"></a>
            </div>
            <div class="header__buttons">
                <a class="header__button-link" href="https://4cio.ru">
                    Сайт Клуба
                </a>
                <button data-modal-click="modal-form" class="header__button open-form">
                    Приобрести книгу
                </button>
            </div>
            <button class="header__hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <nav class="header__nav">
            <a href="#annotation">Аннотация</a>
            <a href="#content">Содержание</a>
            <a href="#purchase">Цены на учебник</a>
            <a href="#history">История проекта</a>
            <a href="#collegium">Редакционная коллегия</a>
            <a href="#quotes">Авторский коллектив</a>
        </nav>
    </div>
</header>

<div class="header__mob-menu">

    <button class="modal-paket__close">
        <span></span>
        <span></span>
    </button>

    <nav class="header__nav">
        <a href="#annotation">Аннотация</a>
        <a href="#content">Содержание</a>
        <a href="#purchase">Цены на учебник</a>
        <a href="#history">История проекта</a>
        <a href="#collegium">Редакционная коллегия</a>
        <a href="#quotes">Авторский коллектив</a>
    </nav>

    <div class="header__item">
        <div class="header__item-icon">
            <img src="img/header/time.svg" alt="icon">
        </div>
        <div class="header__item-content">
            <b>9:00 - 18:00</b>
            <p>c Пн по Пт</p>
        </div>
    </div>
    <div class="header__item">
        <div class="header__item-icon">
            <img src="img/header/call.svg" alt="icon">
        </div>
        <div class="header__item-content">
            <a class="header__item-phone" href="tel:+79265328696">+7 (926) 532 8696</b>
            <a class="open-modal" style="cursor: pointer;" data-modal-click="modal-form">Обратный звонок</a>
        </div>
    </div>
    <div class="social">
        <a class="social__icon" href="https://instagram.com/club4cio?utm_medium=copy_link"><img src="img/inst.svg" alt="img"></a>
        <a class="social__icon" href="https://t.me/Club4CIO"><img src="img/tg.svg" alt="img"></a>
        <a class="social__icon" href="#"><img src="img/vk.svg" alt="img"></a>
    </div>
    <div class="header__buttons">
        <a class="header__button-link" href="https://4cio.ru">
            Сайт Клуба
        </a>
        <button data-modal-click="modal-form" class="header__button open-form">
            Приобрести книгу
        </button>
    </div> 

</div>