<section id="history" class="wrapper wrapper--history">
    <div class="cover-bg">
        <img src="img/history/bg.jpg" alt="bg">
    </div>
    <div class="ycont">
        <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        <!-- <div class="slider__label"></div> -->

        <div class="history">
            <div class="history__slide">
                <h3 class="history__title">Начало истории</h3>
                <p class="history__text">
                    Старт проекта «Учебник 4CIO» по инициативе Сергея Кирюшина и при организационной поддержке Клуба 4CIO
                </p> 
            </div>
            <div class="history__slide">
                <h3 class="history__title">Первое издание</h3>
                <p class="history__text">
                    Выход первого издания Учебника 4CIO, презентация на ежегодном Конгрессе «Подмосковные Вечера»
                </p> 
            </div>
            <div class="history__slide">
                <h3 class="history__title">Альманах</h3>
                <p class="history__text">
                    Выход первого Альманаха 4CIO с новыми главами и дополнениями к Учебнику 4CIO
                </p>
            </div>
            <div class="history__slide">
                <h3 class="history__title">Версия 2.0</h3>
                <p class="history__text">
                    Выход Учебника 4CIO, версии 2.0
                </p>
            </div>
            <div class="history__slide">
                <h3 class="history__title">Электронная версия</h3>
                <p class="history__text">
                    Появление обновляемой электронной версии Учебника 4CIO
                </p>
            </div>
            <div class="history__slide">
                <h3 class="history__title">Версия 3.0</h3>
                <p class="history__text">
                    Выход Учебника 4CIO, версии 3.0
                </p>
            </div>
            <div class="history__slide">
                <h3 class="history__title">Учебник 4СDTO</h3>
                <p class="history__text">
                    Старт проекта «Учебник 4CDTO» в ответ на растущую потребность рынка в цифровой трансформации бизнеса
                </p>
            </div>
            <div class="history__slide">
                <h3 class="history__title">Первое издание</h3>
                <p class="history__text">
                    Выход первого издания Учебника 4CDTO
                </p>
            </div>
            <div class="history__slide">
                <h3 class="history__title">Совместное мероприятие</h3>
                <p class="history__text">
                    Совместное мероприятие Аналитического центра при Правительстве РФ и Клуба 4CIO «О цифровой трансформации сегодня и завтра» с презентацией Учебника 4CDTO
                </p>
            </div>
            <div class="history__slide">
                <h3 class="history__title">Второе издание</h3>
                <p class="history__text">
                    Выход второго, расширенного и обновлённого издания Учебника 4CDTO в двух томах
                </p>
            </div>
        </div>

        <div class="history__year">
            <div>
                <b class="history__year-num">2010</b>
            </div>
            <div>
                <b class="history__year-num">2011</b> 
            </div>
            <div> 
                <b class="history__year-num">2013</b>
            </div>
            <div>
                <b class="history__year-num">2014</b> 
            </div>
            <div>
                <b class="history__year-num">2017</b>
            </div>
            <div>
                <b class="history__year-num">2018</b>
            </div>
            <div>
                <b class="history__year-num">2018</b>
            </div>
            <div>
                <b class="history__year-num">2020</b>
            </div>
            <div>
                <b class="history__year-num">2020</b>
            </div>
            <div>
                <b class="history__year-num">2021</b>
            </div>
        </div>
    </div>
</section>