<div class="modal-bg"></div>
<!-- Пакеты партнеров -->
<div data-modal="modal-paket-1" class="modal modal-paket">
    <div class="modal-paket__left">
        <strong class="modal-paket__left-title">Пакет «VIP партнер учебника»</strong>
        <p class="modal-paket__text">
            возможность участия в написании двух глав в учебнике 4CDTO и возможность размещения в главе четырех практических кейсов по материалам партнера. Материал размещается в учебнике после утверждения редакцией;
        </p>
        <b class="modal-paket__price">3 000 000 ₽</b>

        <div class="modal-paket__left-down">
            <b class="modal-paket__title">По вопросам партнерства</b>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79260070309">+7 926 007 0309</a>
                    <a class="modal-paket__mail" href="mailto:fk@4cio.ru">fk@4cio.ru</a>
                </div>
                <p class="modal-paket__text gray">
                    <b>Феликс Карасёв,</b> коммерческий директор управляющего офиса 4CIO
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79250828888">+7 925 082 8888</a>
                    <a class="modal-paket__mail" href="mailto:ak@4cio.ru">ak@4cio.ru</a>
                </div>
                <p class="modal-paket__text gray">
                    <b>Алексей Кравченко,</b> директор управляющего офиса 4CIO
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79265001841">+7 926 500 1841</a>
                    <a class="modal-paket__mail" href="mailto:pi@4cio.ru">pi@4cio.ru</a>
                </div>
                <p class="modal-paket__text">
                    Полина Идрисова, руководитель проектов
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79260070309">+7 926 007 0309</a>
                    <a class="modal-paket__mail" href="mailto:db@4cio.ru">db@4cio.ru</a>
                </div>
                <p class="modal-paket__text">
                    Данила Баринов, руководитель направления по работе с ключевыми партнерами
                </p>
            </div>

        </div>
    </div>

    <div class="modal-paket__right">
        <button class="modal-paket__close">
            <span></span>
            <span></span>
        </button>
        <b class="modal-paket__title">В учебнике:</b>
        <ul class="modal-paket__list">
            <li>суперобложка с логотипами партнера и клуба;</li>
            <li>публикация вступительного слова к Учебнику от топ-менеджера Заказчика, объем текста – до 2000 знаков + фото;</li>
            <li>рекламная вставка формата 1 страница в главе / рекламный модуль в электронной версии учебника;</li>
            <li>размещение логотипа партнера на форзаце учебника в разделе «VIP Партнер»;</li>
            <li>размещение логотипа партнера в начале главы, в написании которой партнер принял участие, и надпись «партнер главы» в начале главы;</li>
            <li>включение профайла Заказчика в раздел «Благодарности партнерам», объем профайла – до 1000 знаков;</li>
            <li>передача Заказчику тиража в количестве 300 экземпляров или передача партнеру 300 индивидуальных qr кодов для получения электронной версии учебника</li>
        </ul>
        <b class="modal-paket__title">Помимо учебника:</b>
        <ul class="modal-paket__list">
            <li>статус «VIP партнер учебника» (с упоминанием партнера во всех публикациях посвященный проекту, может использоваться партнером в его маркетинговой деятельности);</li>
            <li>размещение логотипа партнера на всех страницах сайта 4CIO, посвященных данной версии учебника;</li>
            <li>размещение трех публикаций заказчика в дайджесте 4CIO. Даты публикаций согласуются дополнительно.</li> 
        </ul>
    </div>
</div>
<!--  -->
<div data-modal="modal-paket-2" class="modal modal-paket">
    <div class="modal-paket__left">
        <strong class="modal-paket__left-title">Пакет «Партнер Главы»</strong>
        <p class="modal-paket__text">
            возможность участия в написании двух глав в учебнике 4CDTO и возможность размещения в главе четырех практических кейсов по материалам партнера. Материал размещается в учебнике после утверждения редакцией;
        </p>
        <b class="modal-paket__price">450 000 ₽</b>

        <div class="modal-paket__left-down">
            <b class="modal-paket__title">По вопросам партнерства</b>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79260070309">+7 926 007 0309</a>
                    <a class="modal-paket__mail" href="mailto:fk@4cio.ru">fk@4cio.ru</a>
                </div>
                <p class="modal-paket__text gray">
                    <b>Феликс Карасёв,</b> коммерческий директор управляющего офиса 4CIO
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79250828888">+7 925 082 8888</a>
                    <a class="modal-paket__mail" href="mailto:ak@4cio.ru">ak@4cio.ru</a>
                </div>
                <p class="modal-paket__text gray">
                    <b>Алексей Кравченко,</b> директор управляющего офиса 4CIO
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79265001841">+7 926 500 1841</a>
                    <a class="modal-paket__mail" href="mailto:pi@4cio.ru">pi@4cio.ru</a>
                </div>
                <p class="modal-paket__text">
                    Полина Идрисова, руководитель проектов
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79260070309">+7 926 007 0309</a>
                    <a class="modal-paket__mail" href="mailto:db@4cio.ru">db@4cio.ru</a>
                </div>
                <p class="modal-paket__text">
                    Данила Баринов, руководитель направления по работе с ключевыми партнерами
                </p>
            </div>

        </div>
    </div>

    <div class="modal-paket__right">
        <button class="modal-paket__close">
            <span></span>
            <span></span>
        </button>
        <b class="modal-paket__title">В учебнике:</b>
        <ul class="modal-paket__list">
            <li>суперобложка с логотипами партнера и клуба;</li>
            <li>публикация вступительного слова к Учебнику от топ-менеджера Заказчика, объем текста – до 2000 знаков + фото;</li>
            <li>рекламная вставка формата 1 страница в главе / рекламный модуль в электронной версии учебника;</li>
            <li>размещение логотипа партнера на форзаце учебника в разделе «VIP Партнер»;</li>
            <li>размещение логотипа партнера в начале главы, в написании которой партнер принял участие, и надпись «партнер главы» в начале главы;</li>
            <li>включение профайла Заказчика в раздел «Благодарности партнерам», объем профайла – до 1000 знаков;</li>
            <li>передача Заказчику тиража в количестве 300 экземпляров или передача партнеру 300 индивидуальных qr кодов для получения электронной версии учебника</li>
        </ul>
        <b class="modal-paket__title">Помимо учебника:</b>
        <ul class="modal-paket__list">
            <li>статус «VIP партнер учебника» (с упоминанием партнера во всех публикациях посвященный проекту, может использоваться партнером в его маркетинговой деятельности);</li>
            <li>размещение логотипа партнера на всех страницах сайта 4CIO, посвященных данной версии учебника;</li>
            <li>размещение трех публикаций заказчика в дайджесте 4CIO. Даты публикаций согласуются дополнительно.</li> 
        </ul>
    </div>
</div>
<!--  -->
<div data-modal="modal-paket-3" class="modal modal-paket">
    <div class="modal-paket__left">
        <strong class="modal-paket__left-title">Практический тематический кейс на материалах партнёра</strong>
        <p class="modal-paket__text">
            возможность участия в написании двух глав в учебнике 4CDTO и возможность размещения в главе четырех практических кейсов по материалам партнера. Материал размещается в учебнике после утверждения редакцией;
        </p>
        <b class="modal-paket__price">195 000 ₽</b>

        <div class="modal-paket__left-down">
            <b class="modal-paket__title">По вопросам партнерства</b>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79260070309">+7 926 007 0309</a>
                    <a class="modal-paket__mail" href="mailto:fk@4cio.ru">fk@4cio.ru</a>
                </div>
                <p class="modal-paket__text gray">
                    <b>Феликс Карасёв,</b> коммерческий директор управляющего офиса 4CIO
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79250828888">+7 925 082 8888</a>
                    <a class="modal-paket__mail" href="mailto:ak@4cio.ru">ak@4cio.ru</a>
                </div>
                <p class="modal-paket__text gray">
                    <b>Алексей Кравченко,</b> директор управляющего офиса 4CIO
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79265001841">+7 926 500 1841</a>
                    <a class="modal-paket__mail" href="mailto:pi@4cio.ru">pi@4cio.ru</a>
                </div>
                <p class="modal-paket__text">
                    Полина Идрисова, руководитель проектов
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79260070309">+7 926 007 0309</a>
                    <a class="modal-paket__mail" href="mailto:db@4cio.ru">db@4cio.ru</a>
                </div>
                <p class="modal-paket__text">
                    Данила Баринов, руководитель направления по работе с ключевыми партнерами
                </p>
            </div>

        </div>
    </div>

    <div class="modal-paket__right">
        <button class="modal-paket__close">
            <span></span>
            <span></span>
        </button>
        <b class="modal-paket__title">В учебнике:</b>
        <ul class="modal-paket__list">
            <li>суперобложка с логотипами партнера и клуба;</li>
            <li>публикация вступительного слова к Учебнику от топ-менеджера Заказчика, объем текста – до 2000 знаков + фото;</li>
            <li>рекламная вставка формата 1 страница в главе / рекламный модуль в электронной версии учебника;</li>
            <li>размещение логотипа партнера на форзаце учебника в разделе «VIP Партнер»;</li>
            <li>размещение логотипа партнера в начале главы, в написании которой партнер принял участие, и надпись «партнер главы» в начале главы;</li>
            <li>включение профайла Заказчика в раздел «Благодарности партнерам», объем профайла – до 1000 знаков;</li>
            <li>передача Заказчику тиража в количестве 300 экземпляров или передача партнеру 300 индивидуальных qr кодов для получения электронной версии учебника</li>
        </ul>
        <b class="modal-paket__title">Помимо учебника:</b>
        <ul class="modal-paket__list">
            <li>статус «VIP партнер учебника» (с упоминанием партнера во всех публикациях посвященный проекту, может использоваться партнером в его маркетинговой деятельности);</li>
            <li>размещение логотипа партнера на всех страницах сайта 4CIO, посвященных данной версии учебника;</li>
            <li>размещение трех публикаций заказчика в дайджесте 4CIO. Даты публикаций согласуются дополнительно.</li> 
        </ul>
    </div>
</div>
<!--  -->
<div data-modal="modal-paket-4" class="modal modal-paket">
    <div class="modal-paket__left">
        <strong class="modal-paket__left-title">Рекламный партнер учебника</strong>
        <p class="modal-paket__text">
            возможность участия в написании двух глав в учебнике 4CDTO и возможность размещения в главе четырех практических кейсов по материалам партнера. Материал размещается в учебнике после утверждения редакцией;
        </p>
        <b class="modal-paket__price">160 000 ₽</b>

        <div class="modal-paket__left-down">
            <b class="modal-paket__title">По вопросам партнерства</b>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79260070309">+7 926 007 0309</a>
                    <a class="modal-paket__mail" href="mailto:fk@4cio.ru">fk@4cio.ru</a>
                </div>
                <p class="modal-paket__text gray">
                    <b>Феликс Карасёв,</b> коммерческий директор управляющего офиса 4CIO
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79250828888">+7 925 082 8888</a>
                    <a class="modal-paket__mail" href="mailto:ak@4cio.ru">ak@4cio.ru</a>
                </div>
                <p class="modal-paket__text gray">
                    <b>Алексей Кравченко,</b> директор управляющего офиса 4CIO
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79265001841">+7 926 500 1841</a>
                    <a class="modal-paket__mail" href="mailto:pi@4cio.ru">pi@4cio.ru</a>
                </div>
                <p class="modal-paket__text">
                    Полина Идрисова, руководитель проектов
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79260070309">+7 926 007 0309</a>
                    <a class="modal-paket__mail" href="mailto:db@4cio.ru">db@4cio.ru</a>
                </div>
                <p class="modal-paket__text">
                    Данила Баринов, руководитель направления по работе с ключевыми партнерами
                </p>
            </div>

        </div>
    </div>

    <div class="modal-paket__right">
        <button class="modal-paket__close">
            <span></span>
            <span></span>
        </button>
        <b class="modal-paket__title">В учебнике:</b>
        <ul class="modal-paket__list">
            <li>суперобложка с логотипами партнера и клуба;</li>
            <li>публикация вступительного слова к Учебнику от топ-менеджера Заказчика, объем текста – до 2000 знаков + фото;</li>
            <li>рекламная вставка формата 1 страница в главе / рекламный модуль в электронной версии учебника;</li>
            <li>размещение логотипа партнера на форзаце учебника в разделе «VIP Партнер»;</li>
            <li>размещение логотипа партнера в начале главы, в написании которой партнер принял участие, и надпись «партнер главы» в начале главы;</li>
            <li>включение профайла Заказчика в раздел «Благодарности партнерам», объем профайла – до 1000 знаков;</li>
            <li>передача Заказчику тиража в количестве 300 экземпляров или передача партнеру 300 индивидуальных qr кодов для получения электронной версии учебника</li>
        </ul>
        <b class="modal-paket__title">Помимо учебника:</b>
        <ul class="modal-paket__list">
            <li>статус «VIP партнер учебника» (с упоминанием партнера во всех публикациях посвященный проекту, может использоваться партнером в его маркетинговой деятельности);</li>
            <li>размещение логотипа партнера на всех страницах сайта 4CIO, посвященных данной версии учебника;</li>
            <li>размещение трех публикаций заказчика в дайджесте 4CIO. Даты публикаций согласуются дополнительно.</li> 
        </ul>
    </div>
</div>
<!--  -->
<div data-modal="modal-paket-5" class="modal modal-paket">
    <div class="modal-paket__left">
        <strong class="modal-paket__left-title">Пакет «Поддержка проекта»</strong>
        <p class="modal-paket__text">
            возможность участия в написании двух глав в учебнике 4CDTO и возможность размещения в главе четырех практических кейсов по материалам партнера. Материал размещается в учебнике после утверждения редакцией;
        </p>
        <b class="modal-paket__price">115 000 ₽</b>

        <div class="modal-paket__left-down">
            <b class="modal-paket__title">По вопросам партнерства</b>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79260070309">+7 926 007 0309</a>
                    <a class="modal-paket__mail" href="mailto:fk@4cio.ru">fk@4cio.ru</a>
                </div>
                <p class="modal-paket__text gray">
                    <b>Феликс Карасёв,</b> коммерческий директор управляющего офиса 4CIO
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79250828888">+7 925 082 8888</a>
                    <a class="modal-paket__mail" href="mailto:ak@4cio.ru">ak@4cio.ru</a>
                </div>
                <p class="modal-paket__text gray">
                    <b>Алексей Кравченко,</b> директор управляющего офиса 4CIO
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79265001841">+7 926 500 1841</a>
                    <a class="modal-paket__mail" href="mailto:pi@4cio.ru">pi@4cio.ru</a>
                </div>
                <p class="modal-paket__text">
                    Полина Идрисова, руководитель проектов
                </p>
            </div>

            <div class="modal-paket__item">
                <div class="modal-paket__item-top">
                    <a class="modal-paket__phone" href="tel:+79260070309">+7 926 007 0309</a>
                    <a class="modal-paket__mail" href="mailto:db@4cio.ru">db@4cio.ru</a>
                </div>
                <p class="modal-paket__text">
                    Данила Баринов, руководитель направления по работе с ключевыми партнерами
                </p>
            </div>

        </div>
    </div>

    <div class="modal-paket__right">
        <button class="modal-paket__close">
            <span></span>
            <span></span>
        </button>
        <b class="modal-paket__title">В учебнике:</b>
        <ul class="modal-paket__list">
            <li>суперобложка с логотипами партнера и клуба;</li>
            <li>публикация вступительного слова к Учебнику от топ-менеджера Заказчика, объем текста – до 2000 знаков + фото;</li>
            <li>рекламная вставка формата 1 страница в главе / рекламный модуль в электронной версии учебника;</li>
            <li>размещение логотипа партнера на форзаце учебника в разделе «VIP Партнер»;</li>
            <li>размещение логотипа партнера в начале главы, в написании которой партнер принял участие, и надпись «партнер главы» в начале главы;</li>
            <li>включение профайла Заказчика в раздел «Благодарности партнерам», объем профайла – до 1000 знаков;</li>
            <li>передача Заказчику тиража в количестве 300 экземпляров или передача партнеру 300 индивидуальных qr кодов для получения электронной версии учебника</li>
        </ul>
        <b class="modal-paket__title">Помимо учебника:</b>
        <ul class="modal-paket__list">
            <li>статус «VIP партнер учебника» (с упоминанием партнера во всех публикациях посвященный проекту, может использоваться партнером в его маркетинговой деятельности);</li>
            <li>размещение логотипа партнера на всех страницах сайта 4CIO, посвященных данной версии учебника;</li>
            <li>размещение трех публикаций заказчика в дайджесте 4CIO. Даты публикаций согласуются дополнительно.</li> 
        </ul>
    </div>
</div> 
<!-- Пакеты партнеров -->

<!-- Обычные пакеты -->
<div data-modal="modal-form" class="modal modal-form">
    <button class="modal-paket__close">
        <span></span>
        <span></span>
    </button>
    <h3 class="modal-form__title">Приобрести книгу</h3>
    <form action="">
        <label class="reviews__form-item"> 
            <select name="" class="select-paket">
                <option selected value="value1">Учебник 4CDTO (Бумажная версия)</option>
                <option value="value2">Электронный учебник 4CDTO (Электронная версия PDF, ePub, FB2.)</option>
                <option value="value3">Набор (Бумажная версия + Электронная версия)</option> 
            </select>
            <p>Продукт</p>
        </label>
        <label class="reviews__form-item"> 
            <input type="text" name="name">
            <p>ФИО </p>
        </label>
        <label class="reviews__form-item"> 
            <input type="text" name="company">
            <p>Организация </p>
        </label>
        <label class="reviews__form-item"> 
            <input type="text" name="position">
            <p>Должность </p>
        </label>
        <label class="reviews__form-item"> 
            <input type="tel" name="phone">
            <p>Телефон </p>
        </label>
        <label class="reviews__form-item"> 
            <input type="email" name="mail">
            <p>Электронная почта  </p>
        </label>
        <p class="form__price-title">Стоимость заказа</p>
        <b class="form__price">3 000 руб.</b>
        <button class="button reviews__form-button">
            Оформить заказ
        </button>
        <p class="modal-form__ps">Данный заказ является договором <a href="oferta.html">публичной оферты.</a></p>
    </form>
</div>

<div data-modal="modal-form-2" class="modal modal-form">
    <button class="modal-paket__close">
        <span></span>
        <span></span>
    </button>
    <h3 class="modal-form__title">Приобрести книгу</h3>
    <form action="">
        <label class="reviews__form-item"> 
            <select name="" class="select-paket">
                <option value="value1">Учебник 4CDTO (Бумажная версия)</option>
                <option selected value="value2">Электронный учебник 4CDTO (Электронная версия PDF, ePub, FB2.)</option>
                <option value="value3">Набор (Бумажная версия + Электронная версия)</option> 
            </select>
            <p>Продукт</p>
        </label>
        <label class="reviews__form-item"> 
            <input type="text" name="name">
            <p>ФИО </p>
        </label>
        <label class="reviews__form-item"> 
            <input type="text" name="company">
            <p>Организация </p>
        </label>
        <label class="reviews__form-item"> 
            <input type="text" name="position">
            <p>Должность </p>
        </label>
        <label class="reviews__form-item"> 
            <input type="tel" name="phone">
            <p>Телефон </p>
        </label>
        <label class="reviews__form-item"> 
            <input type="email" name="mail">
            <p>Электронная почта  </p>
        </label>
        <p class="form__price-title">Стоимость заказа</p>
        <b class="form__price">4 000 руб.</b>
        <button class="button reviews__form-button">
            Оформить заказ
        </button>
        <p class="modal-form__ps">Данный заказ является договором <a href="oferta.html">публичной оферты.</a></p>
    </form>
</div>

<div data-modal="modal-form-3" class="modal modal-form">
    <button class="modal-paket__close">
        <span></span>
        <span></span>
    </button>
    <h3 class="modal-form__title">Приобрести книгу</h3>
    <form action="">
        <label class="reviews__form-item"> 
            <select name="" class="select-paket">
                <option value="value1">Учебник 4CDTO (Бумажная версия)</option>
                <option value="value2">Электронный учебник 4CDTO (Электронная версия PDF, ePub, FB2.)</option>
                <option selected value="value3">Набор (Бумажная версия + Электронная версия)</option> 
            </select>
            <p>Продукт</p>
        </label>
        <label class="reviews__form-item"> 
            <input type="text" name="name">
            <p>ФИО </p>
        </label>
        <label class="reviews__form-item"> 
            <input type="text" name="company">
            <p>Организация </p>
        </label>
        <label class="reviews__form-item"> 
            <input type="text" name="position">
            <p>Должность </p>
        </label>
        <label class="reviews__form-item"> 
            <input type="tel" name="phone">
            <p>Телефон </p>
        </label>
        <label class="reviews__form-item"> 
            <input type="email" name="mail">
            <p>Электронная почта  </p>
        </label>
        <p class="form__price-title">Стоимость заказа</p>
        <b class="form__price">5 000 руб.</b>
        <button class="button reviews__form-button">
            Оформить заказ
        </button>
        <p class="modal-form__ps">Данный заказ является договором <a href="oferta.html">публичной оферты.</a></p>
    </form>
</div>
<!-- Обычные пакеты -->