<section class="wrapper wrapper--oferta">
    <div class="ycont ycont--oferta">
        <h1 class="oferta__title">Договор публичной оферты</h1>
        <div class="oferta__content">
            <p>
                Данный заказ является договором публичной оферты и упраздняет необходимость заключения договора между продавцом и покупателем, согласно ст. 435 ГК РФ. 
            </p>
            <p>
                Подтверждая данный договор публичной оферты, вы соглашаетесь приобрести услуги, согласно сформированному Заказу и провести их оплату в полном объеме.
                Нажимая на кнопку "Оформить заказ", Вы соглашаетесь с условиями <a target="_blank" href="https://4cio.ru/policy">Политики в отношении обработки персональных данных</a> и даете <a target="_blank" href="https://4cio.ru/agreement">согласие на обработку персональных данных</a>, внимательно ознакомились с условиями договора-оферты и принимаете их.
            </p>
            <p>
                Пожалуйста, проверьте корректность указанных Вами данных. После нажатия кнопки "Оформить заказ" Вы будете перенаправлены на защищенную платежную страницу ООО НКО «ЮМани» (<a target="_blank" href="https://4cio.ru/secure_payment">гарантии безопасности</a>), где безопасно осуществите свой платеж и будете возвращены обратно на наш сайт.
            </p>
            <p>
                После оплаты вам будет выслано уведомление о вашем заказе. Управляющий офис 4CIO обязуется отвечать на письма и звонки о заказе в течение 2х рабочих дней. Сформированный Вами заказ сохранится и будет доступен из личного кабинета в <a target="_blank" href="https://4cio.ru/pages/%7B%7B/Site::url('lk')%7D%7D/orders">"Истории заказов".</a>
            </p>
        </div>
        <a class="button oferta__button" href="index.html">Вернуться на главную</a>
    </div>
</section>