<section class="wrapper wrapper--partner">
    <div class="ycont">
        <h2 class="partner__title">Наши партнеры</h2>
        <div class="partner">
            <div class="partner__item">
                <img src="img/partner/1.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/2.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/3.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/4.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/5.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/6.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/7.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/8.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/9.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/10.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/11.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/12.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/13.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/14.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/15.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/16.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/17.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/18.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/19.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/20.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/21.png" alt="img">
            </div>
            <div class="partner__item">
                <img src="img/partner/22.png" alt="img">
            </div>
        </div>
    </div>
</section>