<section id="purchase" class="wrapper wrapper--purchase">
    <img class="bef purchase__bef-1" src="img/purchase/bef-1.png" alt="img">
    <div class="ycont">
        <h2 class="purchase__title">Приобрести учебник</h2>

        <div class="purchase__tabs">
            <button class="purchase__tabs-button active">
                Обычные пакеты
            </button>
            <button class="purchase__tabs-button">
                Пакеты партнеров
            </button>
        </div>
        <p class="purchase__tabs-down">Участие в создании будущих версий Учебника 4CDTO</p>

        <div class="purchase__wrapp">

            <div class="purchase__small">
                <div class="purchase__small-img">
                    <img src="img/purchase/1.png" alt="img">
                </div>
                <strong class="purchase__item-title">Учебник 4CDTO </strong>
                <div class="purchase__small-marker">
                    <img src="img/purchase/1.svg" alt="icon">
                    <p>Бумажная версия</p>
                </div>
                <p class="purchase__item-text">Эксклюзивная бумажная версия первого издания</p>
                <div class="purchase__item-down">
                    <b>3 000 ₽</b>
                    <button data-modal-click="modal-form" data-select="value1" class="purchase__small-button">
                        Приобрести учебник
                    </button>
                </div>
            </div>

            <div class="purchase__small">
                <div class="purchase__small-img">
                    <img src="img/purchase/2.png" alt="img">
                </div>
                <strong class="purchase__item-title">Электронный учебник 4CDTO</strong>
                <div class="purchase__small-marker">
                    <img src="img/purchase/2.svg" alt="icon">
                    <p>Электронная версия (PDF, ePub, FB2).</p>
                </div>
                <p class="purchase__item-text">Если вы впервые приобретаете Учебник и хотите получить электронную версию второго издания. В стоимость входит подписка на 1 год обновлений.</p>
                <div class="purchase__item-down">
                    <b>4 000 ₽</b>
                    <button data-modal-click="modal-form-2" data-select="value2" class="purchase__small-button">
                        Приобрести учебник
                    </button>
                </div>
            </div>

            <div class="purchase__small">
                <div class="purchase__small-img">
                    <img src="img/purchase/3.png" alt="img">
                </div>
                <strong class="purchase__item-title">Набор</strong>
                <div class="purchase__small-row">
                    <div class="purchase__small-marker">
                        <img src="img/purchase/1.svg" alt="icon">
                        <p>Бумажная версия</p>
                    </div>
                    <span>+</span>
                    <div class="purchase__small-marker">
                        <img src="img/purchase/2.svg" alt="icon">
                        <p>Электронная версия</p>
                    </div>
                </div>
                
                <p class="purchase__item-text">Эксклюзивная бумажная версия первого издания и электронная версия второго издания</p>
                <div class="purchase__item-down">
                    <b>5 000 ₽</b>
                    <button data-modal-click="modal-form-3" data-select="value3" class="purchase__small-button">
                        Приобрести учебник
                    </button>
                </div>
            </div>

        </div>
        
        <div class="purchase__wrapp" style="display: none;">

            <div class="purchase__big">
                <strong class="purchase__item-title">
                    Пакет «VIP партнер учебника»
                </strong>
                <p class="purchase__item-text">
                    возможность участия в написании двух глав в учебнике 4CDTO. и возможность размещения в главе четырех практических кейсов по материалам партнера. 
                </p>
                <p class="gray purchase__item-text">
                    Материал размещается в учебнике после утверждения редакцией;
                </p>
                <div class="purchase__item-down">
                    <b>3 000 000 ₽</b>
                    <button data-modal-click="modal-paket-1" class="purchase__big-button">
                        Подробнее
                    </button>
                </div>
            </div>

            <div class="purchase__big">
                <strong class="purchase__item-title">
                    Пакет «Партнер Главы»
                </strong>
                <p class="purchase__item-text">
                    возможность участия в написании главы в учебнике 4CDTO и возможность размещения в главе двух практических кейсов по материалам партнера.                     
                </p>
                <p class="gray purchase__item-text">
                    Материал размещается в учебнике после утверждения редакцией
                </p>
                <div class="purchase__item-down">
                    <b>450 000 ₽</b>
                    <button data-modal-click="modal-paket-2" class="purchase__big-button">
                        Подробнее
                    </button>
                </div>
            </div>

            <div class="purchase__big">
                <strong class="purchase__item-title">
                    Практический тематический кейс на материалах партнёра
                </strong>
                <p class="purchase__item-text">
                    возможность размещения в одной из глав учебника практического кейса по материалам партнера.       
                </p>
                <p class="gray purchase__item-text">
                    Материал размещается в учебнике после утверждения редакцией
                </p>
                <div class="purchase__item-down">
                    <b>195 000 ₽</b>
                    <button data-modal-click="modal-paket-3" class="purchase__big-button">
                        Подробнее
                    </button>
                </div>
            </div>

            <div class="purchase__big">
                <strong class="purchase__item-title">
                    Рекламный партнер учебника
                </strong>
                <p class="purchase__item-text">
                    рекламная вставка формата 1/2 страницы в одной из глав / рекламный модуль в электронной версии учебника;
                </p> 
                <div class="purchase__item-down">
                    <b>160 000 ₽</b>
                    <button data-modal-click="modal-paket-4" class="purchase__big-button">
                        Подробнее
                    </button>
                </div>
            </div>

            <div class="purchase__big">
                <strong class="purchase__item-title">
                    Пакет «Поддержка проекта»
                </strong>
                <p class="purchase__item-text">
                    размещение логотипа партнера на форзаце учебника
                </p> 
                <div class="purchase__item-down">
                    <b>115 000 ₽</b>
                    <button data-modal-click="modal-paket-5" class="purchase__big-button">
                        Подробнее
                    </button>
                </div>
            </div>

        </div>

    </div>
</section>