<section id="quotes" class="wrapper wrapper--quotes">
    <img class="bef quotes__bef-1" src="img/quotes/bef-1.png" alt="img">
    <div class="ycont"> 
        <h2 class="quotes__title">Приветственные слова</h2>
        <div class="quotes">
            <div class="quotes__left">

                <div class="quotes__author active">
                    <div class="quotes__author-photo">
                        <div class="cover-bg">
                            <img src="img/quotes/1.jpg" alt="img">
                        </div>
                    </div>
                    <div class="quotes__author-content">
                        <b>Сергей Кирюшин</b>
                        <p>Главный редактор Учебника 4CDTO</p>
                    </div>
                </div>

                <div class="quotes__author">
                    <div class="quotes__author-photo">
                        <div class="cover-bg">
                            <img src="img/quotes/2.jpg" alt="img">
                        </div>
                    </div>
                    <div class="quotes__author-content">
                        <b>Евгений Борисов</b>
                        <p>Заместитель главного редактора Учебника 4CDTO</p>
                    </div>
                </div>

                <div class="quotes__author">
                    <div class="quotes__author-photo">
                        <div class="cover-bg">
                            <img src="img/quotes/3.jpg" alt="img">
                        </div>
                    </div>
                    <div class="quotes__author-content">
                        <b>Владимир Определёнов</b>
                        <p>Председатель Совета Клуба 4CIO</p>
                    </div>
                </div>

                <div class="quotes__author">
                    <div class="quotes__author-photo">
                        <div class="cover-bg">
                            <img src="img/quotes/4.jpg" alt="img">
                        </div>
                    </div>
                    <div class="quotes__author-content">
                        <b>Сергей Кирюшин</b>
                        <p>Главный редактор Учебника 4CDTO</p>
                    </div>
                </div>

            </div>

            <div class="quotes__right">

                <div class="quotes__content">
                    <b>Уважаемые коллеги!</b>
                    <p> 
                        Вы держите в руках <a href="#">второе издание Учебника 4CDTO</a> о цифровизации и цифровой трансформации, в создании которого приняли участие большое количество высокопрофессиональных CDTO, CIO и ведущих экспертов рынка. 
                    </p>
                    <p>
                        Думали ли мы, что после таких успехов Учебник CDTO получит продолжение? Да, конечно! Редакторский план на год включал порядка 40 тем, которые не были раскрыты в первом издании. Кроме того, помимо представления инструментов для руководителя по ЦТ мы начали публикацию серии глав по применению ЦТ на практике в различных отраслях.
                    </p>
                    <p>
                        Читайте, изучайте, применяйте на практике!
                    </p>
                    <p>
                        Учебник 4CDTO непрерывно развивается. Он доступен не только в бумажном формате, но и в постоянно обновляемой электронной версии. Подробнее ознакомиться с проектом, поддержать его и приобрести электронную версию с подпиской на обновления можно по <a href="https://4cio.ru/pages/12/">ссылке.</a>
                    </p>
                    <a class="button__pdf" href="#">Смотреть в PDF</a>
                </div>

                <div class="quotes__content">
                    <b>Здравствуйте, уважаемые коллеги</b>
                    <p> 
                        За год, прошедший с выхода первого издания Учебника CDTO, произошло много событий. Сразу после презентации на нашу редколлегию обрушился шквал запросов – это вновь подтвердило нашу уверенность в том, что рынку нужен свод актуальных знаний, инструментов, методик для цифровой трансформации организаций. Учебник реально помог людям вырасти по карьерной лестнице и занять позиции руководителей по ЦТ крупных организаций. Учебник мелькал в телевизоре, упоминался в прессе, использовался и цитировался крупными консалтинговыми агентствами.
                    </p>
                    <p>
                        Думали ли мы, что после таких успехов Учебник CDTO получит продолжение? Да, конечно! Редакторский план на год включал порядка 40 тем, которые не были раскрыты в первом издании. Кроме того, помимо представления инструментов для руководителя по ЦТ мы начали публикацию серии глав по применению ЦТ на практике в различных отраслях.
                    </p>
                    <p>
                        Мы надеемся, что накопленные в Учебнике 4CDTO знания и советы помогут вам на пути цифровой трансформации!
                    </p>
                    <a class="button__pdf" href="#">Смотреть в PDF</a>
                </div>

                <div class="quotes__content">
                    <b>Уважаемые члены Клуба 4CIO, друзья, коллеги!</b>
                    <p> 
                        Это живая книга о цифре для людей, созидающих с помощью этих технологий. И я вижу для этого четыре главные причины.
                    </p>
                    <p>
                        Первая – эксперты и специалисты, которые ее создают, делают это на драйве искреннего желания поделиться своими знаниями и самим по ходу познать и осмыслить что-то новое. Вторая – каждая глава проходит интерактивные публичные слушания, многоэтапное живое обсуждения неравнодушных профессионалов. Третья – проект постоянно обновляется, и все обладатели учебника имеют доступ к его последующим версиям в цифровом виде. И, думаю, главная для меня, четвертая – что именно атмосфера клуба 4CIO, несмотря на все перипетии многолетнего сосуществования множества харизматичных лидеров, формирует сообщество людей, которым интересно мнение и опыт друг друга, которые умеют и хотят договариваться ради созидания, которые своим примером и готовностью вкладывать силы в проект для развития всех специалистов в области цифровых технологий мотивируют и поддерживают друг друга.
                    </p>
                    <p>
                        Само участие в создании этой книги можно сравнить с MBA для того, кто хочет стать настоящим CDTO. И я счастлив, что мне довелось стать участником этого процесса. Приглашаю всех читателей погрузиться в собранные здесь знания и опыт, составить свое мнение о полученном результате и поделиться им с нами, а также, если вы поймете, что вам есть, что сказать всем, поучаствовать как автор или активный соавтор в выпуске следующих версий.
                    </p>
                    <a class="button__pdf" href="#">Смотреть в PDF</a>
                </div>

                <div class="quotes__content">
                    <b>Уважаемые коллеги!</b>
                    <p> 
                        Мы часто слышим, что изменения — это единственная постоянная величина, и то, что ещё вчера казалось немыслимым, происходит уже сегодня. Возможно, это утверждение в чем-то спорное, но несомненно одно: там, где нет развития, начинается стагнация.
                    </p>
                    <p>
                        Цифровая трансформация – это не просто изменения, а коренная перестройка всех бизнес-процессов: появление новых должностей, таких как CDTO (Chief Digital Transformation Officer), новых сервисов, всеобъемлющей автоматизации процессов и т.п.
                    </p>
                    <p>
                        Появление в глобальных компаниях управленческой позиции CDTO означает, что первые лица и топ- менеджеры компаний осознают критически важную роль трансформации. Современный управленец видит развитие бизнеса в долгосрочной перспективе и понимает, как за счет внедрения правильных технологий перестроить принципы управления компанией и увеличить за счет этого её эффективность и прибыль.
                    </p>
                    <p>
                        Я хочу пожелать Вам, уважаемые CDTO, стать главным двигателем изменений в своих компаниях, стать правой рукой своего CEO. Желаю Вам найти пути повышения прибыли компании, продаж, оптимизации расходов, а также выхода на новые рынки.
                    </p>
                    <p>
                        Компания Ricoh постарается Вам в этом помочь. Мы трансформируемся сами и помогаем нашим заказчикам сделать бизнес процессы более эффективными.
                    </p>
                    <p>
                        Несомненно, большинство заказчиков воспринимают Ricoh исключительно как производителя печатного оборудования. И отчасти они правы, ведь это направление развивается в компании с момента ее основания в 1936 г. Однако уже более 20 лет компания Ricoh развивается как поставщик цифровых услуг. Заказчики во всем мире выбирают нас как партнера при решении задач оптимизации документооборота, аутсорсинга IT инфраструктуры, снижения расходов на сервис, обеспечения высокого уровня SLA в любой точке земного шара.
                    </p>
                    <p>
                        Мы готовы не только помогать вам снижать расходы, но и выстраивать стратегию развития, способствовать более тесному взаимодействию с потребителями за счет перехода на цифровые методы ведения бизнеса.
                    </p>
                    <p>
                        Давайте трансформироваться вместе!
                    </p>
                    <a class="button__pdf" href="#">Смотреть в PDF</a>
                </div>
                
            </div>
        </div>
    </div>
</section>