<section class="wrapper wrapper--reviews">
    <div class="cover-bg">
        <img src="img/first/bg.jpg" alt="bg">
    </div>
    <div class="ycont">
        <h2 class="reviews__title">Форма для отзывов</h2>
        <form class="reviews__form">
            <div class="reviews__form-row">
                <label class="reviews__form-item"> 
                    <input type="text" name="name">
                    <p>Ваше имя *</p>
                </label>
                <label class="reviews__form-item">
                    <input type="tel" name="phone">
                    <p>Телефон *</p>
                </label>
                <label class="reviews__form-item">
                    <input type="email" name="email">
                    <p>Электронная почта </p>
                </label>
            </div>
            
            <div class="reviews__form-row">
                <label class="reviews__form-item">
                    <textarea name="review">
    
                    </textarea>
                    <p>Ваш отзыв</p>
                </label>
                <label class="form__load">
                    <div class="form__load-content">
                        <b class="form__load-icon">+</b>
                        <div class="form__load-content-text">
                            <b>Прикрепить фото/файл</b>
                            <p>размером не более 15мб</p>
                        </div>
                    </div>
                    <input type="file" class="form__load-input">
                </label>
            </div>
           
            <div class="reviews__form-row reviews__form-down">
                <p>Отправляя форму, Вы принимаете условия пользовательского соглашения и согласны с политикой конфиденциальности сайта</p>
                <button class="button reviews__form-button">
                    Отправить отзыв
                </button>
            </div>

        </form>
    </div>
</section>