<section class="wrapper wrapper--what">
    <div class="ycont">
        <img class="bef what__bef-1" src="https://fs.getcourse.ru/fileservice/file/download/a/46751/sc/47/h/41f1d5357c782363c482e15308a0d6de.png" alt="img">
        <h2 class="what__title">Что мы приготовили специально для вас?</h2>
        <div class="what">
            <div class="what__left">
                <div class="what__marker">
                    <div class="what__marker-check">
                        <img src="https://fs.getcourse.ru/fileservice/file/download/a/46751/sc/505/h/e1949172e3af41063e2c36e04880162a.svg" alt="check">
                    </div>
                    <p>Боксы со скидкой до 90% с доступом навсегда</p>
                </div>
                <div class="what__marker">
                    <div class="what__marker-check">
                        <img src="https://fs.getcourse.ru/fileservice/file/download/a/46751/sc/505/h/e1949172e3af41063e2c36e04880162a.svg" alt="check">
                    </div>
                    <p>Абонементы в Закрытый клуб на 3, 6 и 12 месяцев</p>
                </div>
                <div class="what__marker">
                    <div class="what__marker-check">
                        <img src="https://fs.getcourse.ru/fileservice/file/download/a/46751/sc/505/h/e1949172e3af41063e2c36e04880162a.svg" alt="check">
                    </div>
                    <p>Годовая программа обучения по лучшей цене</p>
                </div>
                <div class="what__marker">
                    <div class="what__marker-check">
                        <img src="https://fs.getcourse.ru/fileservice/file/download/a/46751/sc/505/h/e1949172e3af41063e2c36e04880162a.svg" alt="check">
                    </div>
                    <p>Каждый следующий  курс со скидкой - 80% <b>Суперцена!</b></p>
                </div>
            </div>
            <div class="what__img">
                <img src="https://fs.getcourse.ru/fileservice/file/download/a/46751/sc/140/h/2938047da430941b4b2dc87d7eabe531.png" alt="img">
            </div>
            <div class="what__right">
                <img class="bef what__right-bef-1" src="https://fs.getcourse.ru/fileservice/file/download/a/46751/sc/239/h/c6b560dee13d648b6f23ab05ec32968b.png" alt="img">
                <b>Что это значит:</b>
                <p>При покупке второго, третьего и т.д. курса на распродаже вам начисляется дополнительная скидка на этот курс</p>
            </div>
        </div>
    </div>
</section>